<template>
<div style="margin:1rem;">
  <h1> Puna - object detection app powered by Nvision  </h1>
  <div style="margin-top:2rem;"> upload your image and witness the power of AI</div>
  <input style="margin-top: 1rem;" type="file" @change="(e) => detectImg(e.target.files[0])"/>
  <div style="margin:.5rem 1rem;"> or </div>
  <div>
    <button @click="getUserMedia">use webcam</button>
  </div>
  <div class="video-wrapper" v-show="webcamEnabled" style="z-index:999;position:fixed;background:green;top:1rem;left:1rem;">
    <video ref="player" controls autoplay></video>
    <div style="text-align:center;">
      <button @click="capture">capture</button>
    </div>
  </div>
  <canvas v-show="false" ref="canvas" width="320" height="240"></canvas>
  <div class="loader" style="margin-top:2rem;" v-if="processing"></div>
  <div v-show="result">
    <h4 style="margin-top:1rem;">result</h4>
    <div style="position:relative;">
      <img ref="displayImg"/>
      <template v-if="result">
        <template v-for="(i, idx) in result.detected_objects">
            <div :style="{ position: 'absolute', top: `${i.bounding_box.top}px`, left: `${i.bounding_box.left}px`, width: `${i.bounding_box.right - i.bounding_box.left}px`, height: `${i.bounding_box.bottom - i.bounding_box.top}px`, border: `2px solid ${pickColor(idx)}`}"></div>
            <div class="bounding-box" :style="{ padding: '.25rem', background: pickColor(idx), position: 'absolute', top: `${i.bounding_box.top}px`, left: `${i.bounding_box.left}px` }"> {{ i.name + ' ' + Math.round(i.confidence * 100) + '%' }} </div>
        </template>
      </template>
    </div>
    <div style="margin-top:1rem;"><b>raw response</b></div>
    <pre>{{ result }}</pre>
  </div>
</div>
</template>

<script>
import nvision from "@nipacloud/nvision/dist/browser/nvision.js";

export default {
  data() {
    return {
      result: null,
      objectDetectionService: nvision.objectDetection({
             apiKey: "cdb29f355cb4059995e05420dc8d963f657898bf3a5f2f5e7a88c58279f5e4a0a1c4c4cf874594b42e413fc45c425425ac"
      }),
      img: null,
      webcamEnabled: false,
      processing: false
    }
  },
  methods: {
    detectImg(file) {
      this.result = null;
      this.$refs.displayImg.src = URL.createObjectURL(file);
      const reader = new FileReader();
      reader.onloadend = async () => {
        try {
          this.processing = true;
          const result = await this.objectDetectionService
            .predict({
              rawData: reader.result.replace(/data:.+;base64,/, ""),
            });
          this.result = result;
        } catch(err) {
          alert('error see the console');
          console.log(err);
        } finally {
          this.processing = false;
        }
      }
      reader.readAsDataURL(file);
    },
    pickColor(i) {
      const colors = ["yellow", "green", "pink", "blue"]
      return colors[i % colors.length];
    },
    async getUserMedia() {
      try {
        const stream = await navigator.mediaDevices.getUserMedia({ video: true })
        this.$refs.player.srcObject = stream;
        this.webcamEnabled = true;
      } catch(err) {
        console.error(err);
      }
    },
    async capture() {
      const player = this.$refs.player;
      const canvas = this.$refs.canvas;
      const context = canvas.getContext('2d');
      context.drawImage(player, 0, 0, canvas.width, canvas.height);
      const file = await new Promise(res => canvas.toBlob(res));
      this.webcamEnabled = false;
      this.detectImg(file);
    }
  }
}
</script>

<style>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
